In [ ]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [4]:
data1 = pd.read_csv("data_set_1_claim_count_data_2019_2020.csv")
data1.shape

(230471, 13)

In [5]:
data1.head()

,year,insured years,vehicle type,radius,commodity,garaging area,prior loss frequency,certificate age (years),driver gender,driver age,MVR violation points,prior insurance limit,claim counts
0,2020,0.916667,Xheavy Truck,over 1000 miles,metal,urban,0.167221,0.5,M,50,4,500000,0
1,2020,0.916667,Trailer,400 miles,common goods,rural,0.071928,4.0,M,20,4,1000000,0
2,2020,0.916667,Xheavy Tractor,250 miles,metal,suburban,0.150915,8.0,F,30,4,250000,0
3,2019,0.666667,Trailer,400 miles,metal,suburban,0.187592,1.0,F,50,8,2000000,1
4,2019,0.666667,Xheavy Tractor,over 1000 miles,common goods,urban,0.075468,4.0,M,30,8,1000000,1

In [6]:
data1['claim counts'].value_counts()

claim counts
0    200941
1     26350
2      2879
3       278
4        22
5         1
Name: count, dtype: int64

In [7]:
data1['claim_frequency'] = data1['claim counts']/data1['insured years']
data1.claim_frequency.describe()

count    230471.000000
mean          0.190742
std           0.533412
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           6.000000
Name: claim_frequency, dtype: float64

In [8]:
data1.isnull().sum()

year                       0
insured years              0
vehicle type               0
radius                     0
commodity                  1
garaging area              1
prior loss frequency       0
certificate age (years)    0
driver gender              1
driver age                 0
MVR violation points       0
prior insurance limit      0
claim counts               0
claim_frequency            0
dtype: int64

In [9]:
data1[data1['driver gender'].isnull()]

,year,insured years,vehicle type,radius,commodity,garaging area,prior loss frequency,certificate age (years),driver gender,driver age,MVR violation points,prior insurance limit,claim counts,claim_frequency
164833,2019,0.916667,Trailer,400 miles,NaN,NaN,0.134461,0.5,NaN,50,0,500000,0,0.0

In [10]:
data1[data1['driver gender']=='common goods']

,year,insured years,vehicle type,radius,commodity,garaging area,prior loss frequency,certificate age (years),driver gender,driver age,MVR violation points,prior insurance limit,claim counts,claim_frequency
97316,2020,0.583333,Xheavy Truck,100 miles,common goods,rural,0.079632,0.5,common goods,30,4,2000000,0,0.0

In [11]:
print(data1.shape)
data1 = data1[(~data1['driver gender'].isnull())&(data1['driver gender']!='common goods')]
data1.shape

(230471, 14)

(230469, 14)

In [12]:
data1.columns = [x.replace(" ","_").replace("(","").replace(")","") for x in data1.columns]
data1.head()

,year,insured_years,vehicle_type,radius,commodity,garaging_area,prior_loss_frequency,certificate_age_years,driver_gender,driver_age,MVR_violation_points,prior_insurance_limit,claim_counts,claim_frequency
0,2020,0.916667,Xheavy Truck,over 1000 miles,metal,urban,0.167221,0.5,M,50,4,500000,0,0.0
1,2020,0.916667,Trailer,400 miles,common goods,rural,0.071928,4.0,M,20,4,1000000,0,0.0
2,2020,0.916667,Xheavy Tractor,250 miles,metal,suburban,0.150915,8.0,F,30,4,250000,0,0.0
3,2019,0.666667,Trailer,400 miles,metal,suburban,0.187592,1.0,F,50,8,2000000,1,1.5
4,2019,0.666667,Xheavy Tractor,over 1000 miles,common goods,urban,0.075468,4.0,M,30,8,1000000,1,1.5

In [13]:
data1.vehicle_type.value_counts()

vehicle_type
Xheavy Tractor    81036
Trailer           80454
Xheavy Truck      45847
Heavy Truck       23132
Name: count, dtype: int64

In [14]:
data1['vehicle_type'] = np.where(data1.vehicle_type=='Xheavy Truck', 'Heavy Truck',
                                 np.where(data1.vehicle_type=='Xheavy Tractor', 'Heavy Tractor',data1.vehicle_type))
data1['vehicle_type'].value_counts()

vehicle_type
Heavy Tractor    81036
Trailer          80454
Heavy Truck      68979
Name: count, dtype: int64

In [15]:
data1.radius.value_counts()

radius
over 1000 miles    92285
400 miles          46281
250 miles          45882
100 miles          23138
50 miles           22883
Name: count, dtype: int64

In [16]:
data1['radius'] = data1['radius'].str.replace(r'[^0-9.]', '', regex=True)
data1['radius'] = pd.to_numeric(data1['radius'], errors='coerce')
data1['radius'].value_counts()

radius
1000    92285
400     46281
250     45882
100     23138
50      22883
Name: count, dtype: int64

In [17]:
data1['driver_gender'].value_counts()

driver_gender
M    138193
F     92276
Name: count, dtype: int64

In [18]:
data1['driver_gender'] = (data1['driver_gender']=='M').astype(int)

In [19]:
data1.garaging_area.value_counts()

garaging_area
suburban    92371
rural       69191
urban       68907
Name: count, dtype: int64

In [20]:
data1.groupby('garaging_area')['claim_frequency'].mean()

garaging_area
rural       0.165122
suburban    0.184688
urban       0.224588
Name: claim_frequency, dtype: float64

In [21]:
garaging_mapping = {'rural':1, 'suburban':2, 'urban':3}
data1['garaging_area_map'] = data1['garaging_area'].map(garaging_mapping)

In [22]:
data1.groupby('vehicle_type')['claim_frequency'].mean()

vehicle_type
Heavy Tractor    0.283549
Heavy Truck      0.237690
Trailer          0.057016
Name: claim_frequency, dtype: float64

In [23]:
garaging_mapping = {'Trailer':1, 'Heavy Truck':2, 'Heavy Tractor':3}
data1['vehicle_type_map'] = data1['vehicle_type'].map(garaging_mapping)

In [24]:
data1.groupby('commodity')['claim_frequency'].mean()

commodity
common goods      0.188652
gravel            0.248537
hazardous         0.190523
liquids - fuel    0.188723
metal             0.183554
Name: claim_frequency, dtype: float64

In [25]:
commodity_dummies = pd.get_dummies(data1['commodity'], prefix='commodity', drop_first=True, dtype=int)
data1 = pd.concat([data1, commodity_dummies], axis=1)
data1.head()

,year,insured_years,vehicle_type,radius,commodity,garaging_area,prior_loss_frequency,certificate_age_years,driver_gender,driver_age,MVR_violation_points,prior_insurance_limit,claim_counts,claim_frequency,garaging_area_map,vehicle_type_map,commodity_gravel,commodity_hazardous,commodity_liquids - fuel,commodity_metal
0,2020,0.916667,Heavy Truck,1000,metal,urban,0.167221,0.5,1,50,4,500000,0,0.0,3,2,0,0,0,1
1,2020,0.916667,Trailer,400,common goods,rural,0.071928,4.0,1,20,4,1000000,0,0.0,1,1,0,0,0,0
2,2020,0.916667,Heavy Tractor,250,metal,suburban,0.150915,8.0,0,30,4,250000,0,0.0,2,3,0,0,0,1
3,2019,0.666667,Trailer,400,metal,suburban,0.187592,1.0,0,50,8,2000000,1,1.5,2,1,0,0,0,1
4,2019,0.666667,Heavy Tractor,1000,common goods,urban,0.075468,4.0,1,30,8,1000000,1,1.5,3,3,0,0,0,0

In [26]:
data2 = data1.drop(['vehicle_type','commodity','garaging_area'], axis=1)
data2.head()

,year,insured_years,radius,prior_loss_frequency,certificate_age_years,driver_gender,driver_age,MVR_violation_points,prior_insurance_limit,claim_counts,claim_frequency,garaging_area_map,vehicle_type_map,commodity_gravel,commodity_hazardous,commodity_liquids - fuel,commodity_metal
0,2020,0.916667,1000,0.167221,0.5,1,50,4,500000,0,0.0,3,2,0,0,0,1
1,2020,0.916667,400,0.071928,4.0,1,20,4,1000000,0,0.0,1,1,0,0,0,0
2,2020,0.916667,250,0.150915,8.0,0,30,4,250000,0,0.0,2,3,0,0,0,1
3,2019,0.666667,400,0.187592,1.0,0,50,8,2000000,1,1.5,2,1,0,0,0,1
4,2019,0.666667,1000,0.075468,4.0,1,30,8,1000000,1,1.5,3,3,0,0,0,0

In [27]:
data2.prior_insurance_limit.describe()

count    2.304690e+05
mean     9.388117e+05
std      6.702684e+05
min      2.500000e+05
25%      5.000000e+05
50%      1.000000e+06
75%      2.000000e+06
max      2.000000e+06
Name: prior_insurance_limit, dtype: float64

In [28]:
data2['prior_insurance_limit_scaled'] = data2['prior_insurance_limit'] / 100000
data2.head()

,year,insured_years,radius,prior_loss_frequency,certificate_age_years,driver_gender,driver_age,MVR_violation_points,prior_insurance_limit,claim_counts,claim_frequency,garaging_area_map,vehicle_type_map,commodity_gravel,commodity_hazardous,commodity_liquids - fuel,commodity_metal,prior_insurance_limit_scaled
0,2020,0.916667,1000,0.167221,0.5,1,50,4,500000,0,0.0,3,2,0,0,0,1,5.0
1,2020,0.916667,400,0.071928,4.0,1,20,4,1000000,0,0.0,1,1,0,0,0,0,10.0
2,2020,0.916667,250,0.150915,8.0,0,30,4,250000,0,0.0,2,3,0,0,0,1,2.5
3,2019,0.666667,400,0.187592,1.0,0,50,8,2000000,1,1.5,2,1,0,0,0,1,20.0
4,2019,0.666667,1000,0.075468,4.0,1,30,8,1000000,1,1.5,3,3,0,0,0,0,10.0

In [29]:
data2.drop('prior_insurance_limit', axis=1, inplace=True)

In [30]:
data2.to_csv(r'input_data_w_formatted.csv', index=False)